<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
  .footer-bottom footer {
  padding: 30px;
  background: #ffe8e8;
  display: flex;
  justify-content: space-between;
}

.footer-link ul {
  display: flex;
  list-style: none;
  margin-top: 25px;

}

.footer-link li {
  margin-right: 30px;
}

.footer-bottom a {
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  color: rgb(0, 0, 0);
  transition: 90ms all;
}
.footer-bottom a:hover{
  transform: scale(0.9);
}

.footer-link span {

  margin-left: 50px;
}
</style>
<div class="footer-bottom">
  <footer>
    <div class="footer-logo">
      <h3>Rizki <span> Company </span></h3>
      <i class="fa fa-envelope" style="margin-right: 5px;"></i>fadilahmrizki433@gmail.com</p>
        <i class="fa fa-phone" style="margin-right: 5px;"></i>+6285703016295</p>
    </div>
    <div class="footer-link">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/about">About</a></li>
      </ul>

      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
      </span>
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-whatsapp fa-stack-1x fa-inverse"></i>
      </span>
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
      </span>
    </div>

  </footer>
</div>
</div>