<style>
    .team-about {
  background: #31367b;
  padding: 30px;
}

.team-about h3 {
  margin-top: 0;
  color: white;
}

.team-about .kolom {
  background: white;
  border-radius: 5px;
  padding: 30px;

}

.profile {
  font-size: 18px;
  padding: 30px;
}

.profile .oval {
  height: 100px;
  width: 100px;
  background: #b0b0b0;
  border-radius: 100px;
  /* padding: 5px; */
  margin-top: 20px;

}

.oval img {
  width: 100%;
  border-radius: 100px;
  transition: 1s all;
  cursor: pointer;
  border: 3px solid black;

}

.oval img:hover {
  box-shadow: 2px 5px 20px black;
}
</style>
<center>
    <div class="profile">
      <div class="oval"><img src="foto.jpg"></div>
      <h1>M Rizki</h1>
      <p>Skills achieved in FrontEnd</p>
    </div>

    <div class="team-about">
      <h3>About Creator</h3>
      <div class="kolom">
        <p>Hello, my name is Muhammad Rizki, I was born in Bandung on January 16, 2006, I like a number of things in
          the arts, for example painting. and I also have a hobby of reading, and listening to music</p>
      </div>
    </div>
</div>
</center>